{
  "extends": "eslint-config-egg",
  "rules": {
    "array-bracket-spacing": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline"
      }
    ]
  }
}
